<div class="seat-selection">
  <h2>GRAND CENTER</h2>
  <div class="legend">
    <div class="legend-item">
      <div class="seat available"></div>
      <span>Available</span>
    </div>
    <div class="legend-item">
      <div class="seat booked"></div>
      <span>Booked</span>
    </div>
    <div class="legend-item">
      <div class="seat reserved"></div>
      <span>Reserved</span>
    </div>
    <div class="legend-item">
      <div class="seat handicap">
        <i class="fas fa-wheelchair"></i>
      </div>
      <span>Handicap</span>
    </div>
  </div>
  <br><br>
  <div>
    <div class="stage-seats">
      <div class="stage-screen">STAGE</div>
    </div>
  </div>

  <br><br>
  <div class="seat-map-container">
    <div class="seat-map" *ngFor="let data of categoryData; let i = index">
      <div class="category-container" [style.backgroundColor]="data.color">
        <p class="category">{{ data.name }}</p>
      </div>

      <div class="row" *ngFor="let row of data.rowList; let i = index">
        <div class="seat" *ngFor="let seat of row.seatList" [ngClass]="{
            'selected': seat.selected,
            'handicap': seat.handicapped === true,
            'reserved': seat.seatStatus === 'PREBOOKED',
            'booked': seat.seatStatus === 'BOOKED',
            'available': seat.seatStatus === 'AVAILABLE' && seat.handicapped === false,
            'blocked': seat.seatStatus === 'BLOCKED'
          }" (click)="selectSeat(seat)">
          <span class="seat-number">{{ seat.name }}</span>
          <div *ngIf="seat.seatStatus === 'PREBOOKED'" class="tooltip-reserved">Reserved</div>
          <div *ngIf="seat.seatStatus === 'BOOKED'" class="tooltip-booked">Booked</div>
        </div>
      </div>
    </div>
  </div>
</div>